<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDna.AddIn" version="0.35.4-beta4" targetFramework="net452" />
  <package id="ExcelDna.Integration" version="0.35.4-beta4" targetFramework="net452" />
  <package id="NetOffice.Core" version="1.7.4.4" targetFramework="net452" />
  <package id="NetOffice.Excel" version="1.7.4.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="RestSharp" version="106.3.1" targetFramework="net452" />
</packages>